out/
target/
!src/**

*.class
*.jar
!dkbWsFirstData-1.9.0.jar
*.war
*.ear

hs_err_pid*

.gradle/
build/
!gradle-wrapper.jar
gradle-app.setting

.idea/
.idea/**

.classpath
.project
.settings/
logs/
*.iml
.gradletasknamecache
./deploy
.DS_Store

*.rdb

jpa-ddl-export.sql
.vault_password
tooling/caa-wiremock/charts/wiremock-*.tgz

# Secrets
ops/development/vaults/**/*.*
!ops/development/vaults/**/**.vault
